{% extends "base.html" %}
{% block start %}

<div class="container mt-5 card shadow-lg LR">
    <form class="my-2" method="post">
        {% csrf_token %}
        <h2>Login</h2>
        <hr>
        {% if messages %}
        {{ message.tags }}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class="btn btn-warning btn-fill">Login</button>
        <p>Not a user <a class="anchor" href="/register/">Register</a></p>
      </form>
</div>

{% endblock %}