{% extends "base.html" %}
{% block start %}

<nav class="navbar navbar-expand-lg p-1 bg-body-tertiary fixed-top card shadow-lg">
    <div class="container-fluid">
      <a class="navbar-brand fs-4" href="/"><img src="/media/logo/EYN_edited.png" alt="..." style="height: 30px; margin-bottom: 4px;"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!--Side bar-->
      <div class="sidebar offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <!-- sidebar header -->
        <div class="offcanvas-header text-white border-bottom">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/orders/">Your orders</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
          <a href="/wishlist/"><div class="btn btn-warning icon1"><i class="fa-solid fa-heart"></i><span class="badge text-bg-secondary rounded-pill" style="position: absolute;
            top: -1px;">{{w_length}}</span></div></a>
        <a href="/cart/"><div class="btn btn-primary mx-1"><i class="fa-solid fa-cart-shopping"></i>
          <span class="badge text-bg-secondary rounded-pill" style="position: absolute;
          top: -1px;">{{length}}</span></a></div></a>
        <a class="btn btn-danger mx-2" href="/logout/"><i class="fa-solid fa-right-from-bracket"></i></a>
        </div>
        </div>
      </div>
    </div>
  </nav>

<div class="d-flex" style="justify-content: center; overflow: hidden;">
<img src="/media/order/Order Confirmation.gif/" alt="">
</div>
<div class="d-flex mb-3" style="justify-content: center;">
<a href="/"><div class="btn btn-warning">Continue shopping</div></a>
</div>

{% endblock %}