{% extends "base.html" %}
{% block start %}

<div class="container my-5 card shadow-lg LR">
  {% csrf_token %}
    <form class="my-2" method="post">
        {% csrf_protect %}
        <h2>Register</h2>
        <hr>
        {% if messages %}
        {{ message.tags }}
        <div class="alert alert-primary" role="alert">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">First name</label>
          <input type="text" name="first_name" class="form-control" id="text" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Last name</label>
          <input type="text" name="last_name" class="form-control" id="exampleInputtext1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Username</label>
          <input type="text" name="username" class="form-control" id="exampleInputtext2" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">E-mail</label>
          <input type="email" name="email" class="form-control" id="exampleInputtext3" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <button type="submit" class=" btn btn-warning btn-fill">Register</button>
        <p>Already a user <a class="anchor" href="/login/">Login</a></p>
      </form>
</div>

{% endblock %}